# Visual Studio Code local configuration files
.vscode/settings.json

# Python Virtual Environments
**/.venv/

# Log files
**/*.log

# MPLAB X IDE build artifacts
**/[Cc]ode/**/.generated_files
**/[Cc]ode/**/build
**/[Cc]ode/**/debug
**/[Cc]ode/**/dist
**/[Cc]ode/**/motorbench
**/[Cc]ode/**/nbproject/Makefile-*
**/[Cc]ode/**/nbproject/Package-*
**/[Cc]ode/**/nbproject/private
**/[Cc]ode/**/defmplabxtrace.log*
**/[Cc]ode/**/queuelogs

# IntelliJ IDEA files
.idea/**