* {
    box-sizing: border-box;
}

.page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cc242b;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
}

.lab-header {
    font-size: xx-large;
    font-weight: bold;
}

.section-header-title {
    font-size: xx-large;
}

.bullet-list li {
    font-size: large;
}

section {
    display: flex;
    padding-left: 2%;
    flex-direction: column;
}