* {
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

img {
    width: auto;
    display: block;
}

section {
    display: flex;
    margin: 1%;
    flex-direction: column;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}

.page-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1%;
}

.page-header > * {
    border-radius: 6px;
}

.page-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
    background: linear-gradient(to right, #cc242b, #ff4b4b, 70%, #fff);
    padding: 12px;
}

.page-subheader {
    background: linear-gradient(to right, #6DC24C, #51fc7e, 70%, #fff);
    padding: 6px 12px 6px 12px;
}

.page-subheader > ul {
    list-style: none;
    gap: 0.5em;
    display: inline-flex;
    padding: 0;
}

.lab-header {
    font-size: 3rem;
    font-weight: bold;
}

.section-header-title {
    font-size: xx-large;
}

.bullet-list li {
    font-size: large;
}

img {
    max-width: 50%;
}

.footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 60px;
    border-radius: 5px;
    background-color: #cc242b;
    color: #ffffff;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.35);
}